<!--  List all user's with their email addresses-->
<!--  Checkbox that turns a user into an admin-->
<!--  A form that lets the admin add new tools-->
<!--  A form that lets the admin add new news posts-->

<h2>Hello <%= @current_user.username %></h2>

<table class="table table-hover">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Make Admin</th>
  </tr>

  <%@users.each do |user| %>
    <tr>
      <% if user != @current_user  %>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
      <% elsif user.admin == nil %>
        <td><%= button_to "Make Admin", make_admin_path(user.id), method: :patch, class:"btn btn-default" %></td>
      <% else %>
        <td><%= user.admin %>
      <%end %>
  <%end %>
  </tr>



</table>


<div class="NewsForm">
  <h4>Make a New Post</h4>

<%= form_for Post.new do |f|  %>
  <%= f.label "title" %>
  <%= f.text_field :title, class:"form-control", placeholder:"Title" %><br>
  <%= f.label "content" %>
  <%= f.text_area :content, class:"form-control", placeholder:"Content" %><br>

  <%= f.submit "Submit", :class => "btn btn-default" %>

<%end %>

<h3>All Tools</h3>
<% @tools.each do |tool| %>
  <%= tool.name %>
<% end %>

<h3>Add Tool</h3>
<%= form_for @tool do |f| %>
  <%= f.label "name" %>
  <%= f.text_field :name %>
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.submit "Add tool", :class => "btn btn-default" %>
<% end %>

</div>
