<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Can you dig it?</title>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>

  <div class="whiteout">
    <%= link_to "Home", root_path %> /
    <%= link_to "My account", my_account_path(@current_user) %> /
    <%= link_to "Sign Out", signout_path(@current_user), method: :delete %>
  </div>

<% else %>

  <div class="col-xs-2">

    <h2 class="yellow-text">Sign-Up</h2>

    <%= form_for(@current_user, html: { class: "form signup-signin"}) do |f| %>
    <%= f.label "username:" %><br>
    <%= f.text_field :username %><br>
    <%= f.label "email address" %><br>
    <%= f.text_field :email %><br>
    <%= f.label "password:" %><br>
    <%= f.password_field :password %><br>
    <%= f.label "password confirmation:" %><br>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit "Create account", :class => "btn btn-default" %>
    <% end %>

  </div>

  <div class="col-xs-2">

    <h2 class="yellow-text-2">Sign-In</h2>

    <%= form_tag "/signin", class: "form signup-signin-2" do %>
    <%= label_tag "username (your email):" %><br>
    <%= text_field_tag :username %><br>
    <%= label_tag "password:" %><br>
    <%= password_field_tag :password %><br>
    <%= submit_tag "Signin", :class => "btn btn-default" %>
    <% end %>

  <%= link_to "Sign in through Twitter", "auth/twitter" %>
  </div>

<% end %>

<div class="whiteout">
  <%= yield %>
</div>

</body>
</html>
