<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Can you dig it?</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>

  <div class="top-bar">
    <%= link_to "My account", my_account_path(@current_user) %> /
    <%= link_to "Sign Out", signout_path(@current_user), method: :delete %>
  </div>

<% else %>

  <a href="/auth/twitter" class="yellow-link"><%= image_tag "sign-in-with-twitter-gray.png" %></a>

  <div class="col-xs-2 top-right">

    <h2 class="yellow-text">Sign-Up</h2>

    <%= form_for(User.new, html: { class: "form signup-signin" }) do |f| %>
      <%= f.label "username:" %><br>
      <%= f.text_field :username %><br>
      <%= f.label "email address" %><br>
      <%= f.text_field :email %><br>
      <%= f.label "password:" %><br>
      <%= f.password_field :password %><br>
      <%= f.label "password confirmation:" %><br>
      <%= f.password_field :password_confirmation %><br><br>
      <%= f.submit "Create account", :class => "btn btn-default btn-xs" %>
    <% end %>

  </div>

  <div class="col-xs-2 top-right">

    <h2 class="yellow-text-2">Sign-In</h2>

    <%= form_tag "/signin", class: "form signup-signin-2" do %>
      <%= label_tag "username:" %><br>
      <%= text_field_tag :username %><br>
      <%= label_tag "password:" %><br>
      <%= password_field_tag :password %><br><br>
      <%= submit_tag "Sign In", :class => "btn btn-default btn-xs" %>
    <% end %>


  </div>

<% end %>

<div class="whiteout">

  <!-- <nav class="nav-for-everybody">
    <%= link_to "home", root_path %>&nbsp;&nbsp;&nbsp;<%= link_to "about", "/"%>&nbsp;&nbsp;&nbsp;<%= link_to "tools", tools_path %>
  </nav> -->

  <div class="icons-wrapper">
    <div class="icons-n-links">

      <div class="sow col-xs-3">
        <a href="/about"><%= image_tag "sow.gif" %></a><br>
        <%= link_to "SOW WHAT?", "/" %>
      </div>

      <div class="shovel col-xs-3">
        <%= image_tag "shovel.gif" %><br>
        <%= link_to "TOOLS", tools_path %>
      </div>

      <div class="news col-xs-3">
        <%= image_tag "news.gif" %><br>
        <%= link_to "NEWS", posts_path %>
      </div>

      <div class="events col-xs-3">
        <%= image_tag "party.gif" %><br>
        <%= link_to "EVENTS", events_path %>
      </div>

    </div>
  </div>

  <%= yield %>
</div>

</body>
</html>
